---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { tags } from "../../utils/blogTags";
import PostList from "../components/blog/PostList.astro";
import PostTag from "../components/blog/PostTag.astro";


const blogPosts = await getCollection("blog")
blogPosts.sort((a, b) => {
	return (
		new Date(b.data.publishDate).getTime() -
		new Date(a.data.publishDate).getTime()
	);
})
---

<BaseLayout >
  <section class="mx-auto w-full max-w-2xl space-y-8 print:space-y-6">
		
    <div>
			
			<div class="flex flex-wrap gap-1 justify-start md:justify-center overflow-auto py-1 space-x-2 my-2">
				{tags.map((tag) => {
					return (
						<PostTag tag={tag} />
						
					);
				})}
			</div>
		</div>
    
    <PostList />
  </section>
</BaseLayout>
