---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("./posts/*.mdx");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="mx-auto w-full max-w-2xl space-y-8 print:space-y-6">
		<div class="flex items-center justify-between">
			<div>
				<h1>Blog page</h1>

				
        {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
			</div>
		</div>
	</section>
</BaseLayout>