---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostTag from "../pages/components/blog/PostTag.astro";
import type { ValidTags } from "../utils/blogTags";
import { tags } from "../utils/blogTags";
	
type Props = {
  tag?: ValidTags
  limit?: number
}
const { tag, limit } = Astro.props

// Retrieve blog posts and sort by publish date
const blogPosts = await getCollection("blog");
blogPosts.sort((a, b) => {
  return new Date(b.data.publishDate).getTime() - new Date(a.data.publishDate).getTime();
});

// Hold filtered blog posts
let blogPostResults: typeof blogPosts = blogPosts;

// Filter blog posts by tag
if (tag) {
  blogPostResults = blogPosts.filter((post) => {
    return post.data.tags.includes(tag);
  });
}

// Filter blog posts by limit
if (limit) {
  blogPostResults = blogPostResults.slice(0, limit);
}
const pageTitle = "writings"
---

<BaseLayout pageTitle={pageTitle}>
	<section class="mx-auto w-full max-w-2xl space-y-8 print:space-y-6">
		<div class="flex items-center justify-between">
			<div class="w-full">
				<p class="text-5xl">Writing</p>

				<p class="text-gray-500/90 mb-6 mt-2 text-lg">A collection of thoughts, ideas, and experiences.</p>
				
				<div>
					<div class="flex flex-wrap gap-1 justify-start md:justify-center overflow-auto py-1 space-x-2 my-2">
						{tags.map((tag) => {
							return (
								<PostTag tag={tag} />
							);
						})}
					</div>
				</div>
				<div class="w-full mt-10">
					<ul>
    				{blogPostResults.map((post) => 
							<li class="flex flex-col space-y-1 mb-4 px-2 rounded-md">
								<a href={`/blog/${post.slug}`}>
									<div class="w-full flex flex-row justify-between items-center ">
										<div>
											<p class="text-lg">{post.data.title}</p>
											
										</div>
										<p class="font-mono text-sm text-neutral-500 tracking-tighter">
											{post.data.publishDate.toString().slice(0,10)}
										</p>
									</div>
								</a>
							</li>
							)}
  				</ul>
				</div>
			</div>
		</div>
	</section>
</BaseLayout>
    
