---
import Author from "src/pages/components/blog/Author.astro";
import BaseLayout from "./BaseLayout.astro";
const { title, tags } = Astro.props;
---
<BaseLayout title={title}>
<section class="mx-auto w-full max-w-2xl space-y-8 print:space-y-6">
    <div>
      <article class="prose max-w-[650px]">
        <slot />
      </article>


      <div class="flex justify-between items-center mt-12">
        <div class="flex gap-2">
          {tags.map((tag: string) => (
            <p class="rounded-full flex flex-row items-center h-8 px-1 ring-1 ring-neutral-400"><a class="px-1 font-mono text-xs text-neutral-400 tracking-tighter" href={`/tags/${tag}`}>{tag}</a></p>
          ))}
        </div>
        
        <Author />
      </div>
    </div>
  
</section>
</BaseLayout>
